/*declare main color variables*/
:root{
    --theme-color: #9B8F7F;
    --navfoot-color: #544643;
    --secondaryfont-color: #ffffff;
}
div {
    font-size: 16px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif, "Times New Roman";
    background-color: var(--theme-color);
}
*{
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--navfoot-color);
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: var(--secondaryfont-color);
    letter-spacing: 2px;
    font-size: 20px;
}

.navlinks{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.navlinks li{
    list-style: none;
}

.navlinks a{
    color: var(--secondaryfont-color);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
}
#Priya{
    text-decoration: none;
    color: var(--secondaryfont-color);
}
/* responsive resume grid */
h2{
    text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 20px;
}

@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

/* Footer */
footer {
    width: 100%;
    position: fixed;
    background-color: var(--navfoot-color);
    height: 50px;
    color: var(--secondaryfont-color);
    left: 0;
    bottom: 0;
    text-align: right;
    padding: 30px 0px;
}
